@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=DM+Sans:wght@500&family=Handlee&family=Nabla&family=Noto+Sans+Mono:wght@500&family=Reem+Kufi+Ink&family=Secular+One&display=swap');

/* scrollbar none  */
body {
    -ms-overflow-style: none;
    color: #fff;
    background: rgba(43,46,61,1);
background: -moz-linear-gradient(45deg, rgba(43,46,61,1) 0%, rgba(13,38,107,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(43,46,61,1)), color-stop(100%, rgba(13,38,107,1)));
background: -webkit-linear-gradient(45deg, rgba(43,46,61,1) 0%, rgba(13,38,107,1) 100%);
background: -o-linear-gradient(45deg, rgba(43,46,61,1) 0%, rgba(13,38,107,1) 100%);
background: -ms-linear-gradient(45deg, rgba(43,46,61,1) 0%, rgba(13,38,107,1) 100%);
background: linear-gradient(45deg, rgba(43,46,61,1) 0%, rgba(13,38,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2e3d', endColorstr='#0d266b', GradientType=1 );
    /* background: rgba(13,44,56,1);
    background: -moz-linear-gradient(left, rgba(13,44,56,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(13,44,56,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(13,44,56,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(13,44,56,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(13,44,56,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(13,44,56,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d2c38', endColorstr='#000000', GradientType=1 ); */
}

/* hide scroll-bar */
::-webkit-scrollbar {
    display: none;
}

.loading_container {
    display: flex;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: bold;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: fixed;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    gap: 30px 50px;
    margin-top: 20px;
    margin-left: 70px;
    /* gap: ; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
}

.current {
    width: 400px;
    height: 350px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.next {
    font-family: 'Noto Sans Mono', monospace;
    /* border: 1px solid #000; */
    width: 400px;
    height: 500px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 50px 6fr;
    overflow: hidden;
}

.title {
    border: 1px solid dodgerblue;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.weather_wrapper {
    background: rgba(95,111,122,1);
background: -moz-linear-gradient(left, rgba(95,111,122,1) 0%, rgba(13,35,51,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(95,111,122,1)), color-stop(100%, rgba(13,35,51,1)));
background: -webkit-linear-gradient(left, rgba(95,111,122,1) 0%, rgba(13,35,51,1) 100%);
background: -o-linear-gradient(left, rgba(95,111,122,1) 0%, rgba(13,35,51,1) 100%);
background: -ms-linear-gradient(left, rgba(95,111,122,1) 0%, rgba(13,35,51,1) 100%);
background: linear-gradient(to right, rgba(95,111,122,1) 0%, rgba(13,35,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f6f7a', endColorstr='#0d2333', GradientType=1 );
    border: 2px solid crimson;
    border-radius: 10px;
    overflow: scroll;
    box-sizing: border-box;
    padding: 15px;
}

.map_container {
    height: 500px;
    border: 2px solid #000;
    border-radius: 15px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    box-sizing: border-box;
    margin-right: 30px;
}
